#fondo{
    -fx-background-color: white;
}
#btnGoBack{
    -fx-padding: 3 10 3 10;   
    -fx-background-color: gray;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow( one-pass-box , gray , 5 , 0.0 , 2 , 0 );
    -fx-text-fill: white;
    -fx-border-radius: 20px;
}